body{
  font-family: Courier, monospace; /*changes page font*/
  margin: 0; /*removes margin from the page*/
  background-color: #626c7A; /*site background color*/
  color: #00000; /*text color*/
}

.navigation {
  width: 100%;
  background-color: #C4EFEF;
  overflow: auto;
  margin: 10px 0px 10px 0px;
}

.navigation a {
  float: left;
  padding: 10px 0px 10px 0px;
  color: black;
  font-size: 18px;
  width: 20%;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px 6px #CBB3CB;
  font-family: 'Courier New', monospace;
  font-weight: bold;
}

.navigation a:hover {
  background-color: #CBB3CB;
}

.navigation a.active {
  background-color: #CBB3CB;
}

.content{
  text-align: center;
  padding: 40px 160px;
  margin: 20px 50px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content{
  border: 1px solid;
  padding: 10px;
  box-shadow: 4px 12px #8888;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
}

h2{
  padding: 5px;
  font-size: 25px;
  font-weight: bold;

}
